@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* Variables */
:root {

  /* Colors */
  --pink: #ff006e;
  --orange: #fb5607;
  --yellow: #ffbe0b;
  --purple: #8338ec;
  --dkpurple: #00083c;
  --blue: #3a86ff;
  --green: #70e000;

  /* Shadows & Gradients */
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  --gradient:  repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 8px,
    var(--dkpurple) 8px,
    var(--dkpurple) 10px
  );
}

/* Universal resets for entire page */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--yellow);
}

/* General styling for body */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  -webkit-font-smoothing: antialiased;
  font-size: 4em;
  color: var(--pink);
  text-shadow: var(--box-shadow);
}

/* Styles grid container */
.container {
  width: 40vw;
  min-width: 500px;
  height: 40vw;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  /* Specifies placement of grid items */
  grid-template-areas:
    "glasses glasses div1 dance"
    "glasses glasses camping div6"
    "div2 portrait div3 sleep"
    "cooking div4 icecream div5";
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

/* Sets height so image grid items fill specified grid area */
img {
  width: 100%;
  height: 100%;
}

/* Styling for image grid items */
.cooking {
  grid-area: cooking;
  border-bottom-left-radius: 20px;
}

.ice-cream {
  grid-area: icecream;
}

.dance {
  grid-area: dance;
  border-top-right-radius: 20px;
}

.portrait {
  grid-area: portrait;
}

.camping {
  grid-area: camping;
}

.glasses {
  grid-area: glasses;
  border-top-left-radius: 20px;
}

.sleep {
  grid-area: sleep;
}

/* General Styling for all div grid items*/
div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for individual grid item divs */
.div1 {
  grid-area: div1;
  background-color: var(--blue);
}

.div2 {
  grid-area: div2;
  background-color: var(--orange);
}

.div3 {
  grid-area: div3;
}

.div4 {
  grid-area: div4;
  background-color: var(--purple);
  background-image: var(--gradient);
}

.div5 {
  grid-area: div5;
  border-bottom-right-radius: 20px;
  background-color: var(--pink);
}

.div6 {
  grid-area: div6;
  background-color: var(--green);
}

